:root {
  --bg: #212121;
  --green: #03a19e;
  --white: #ffeded;
  --gray: #32343e;
  --purple: #8418ca;
  --dark-purple: #5c118d;
  --bg-gray: rgba(15, 15, 15, 0.9);
  --bg-gray-nt: rgba(50, 52, 62);
}

body,
html {
  height: 100%;
  margin: 0;
  cursor: default;
  font-family: "Inconsolata", "NTR", sans-serif;
  color: var(--white);
  overflow-x: hidden;
  font-size: calc(10px + 0.367016vw);
}
* {
  margin: 0;
  padding: 0;
}
section {
  display: flex;
  width: 100vw;
}

.section {
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: var(--bg-gray);
  border-radius: 50px;
  margin: 0px 25px 50px 0px;
  padding: 0px 30px 30px 50px;
  box-shadow: 10px 10px 20px #000, -10px 10px 20px #000;
}
.projects {
}
.section-header {
  display: flex;
  align-items: center;
}

.intro,
.about-me {
  width: 75%;
}
/* .section-header::after{
    content:"";
    display:block;
    margin-left:10px;
    width:300px;
    height:1px;
    background-color:var(--white)
} */
.section-title {
  font-size: 2.5rem;
  font-weight: 600;
  padding: 20px 0px 20px 0px;
  font-family: "NTR";
  margin: -1rem 0 -2rem 0;
}
.container {
  display: flex;
  width: 85%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
}

.page-heading {
  font-family: "NTR";
}

@media (min-width: 1200px) {
  .container {
    //max-width: 1000px;
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  .container {
    //max-width: 800px;
  }
}

@media (min-width: 1000px) {
  .container {
    //padding: 0 30px 0 30px;
  }
}

@media (max-width: 1000px) {
  .container {
    //padding: 0 20px 0 20px;
    // width: 80%;
  }
  #title-img-container {
    display: none;
    opacity: 0;
  }
}

@media (max-width: 500px) {
  .section {
    width: 85vw;
    margin: 0 0 50px 0px;
    padding: 0px 0px 30px 20px;
  }
  .project-area {
    margin-left: -5px;
    width: 95%;
  }
  .project-image-container {
  }
  .intro {
    width: 90vw;
  }
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1;
}

#titles {
  font-weight: 700;
  line-height: 0.9;
  width: 50%;
  padding-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding-right: 1rem;
}

#title-img-container {
  display: inline;
  width: 45%;
}

.console-container {
  width: 100%;
}

.animate-intro {
  animation: title_load 2s ease-out forwards;
  opacity: 0;
}

.animate-intro:nth-child(1) {
  animation-delay: 0.5s;
}

.animate-intro:nth-child(2) {
  animation-delay: 1s;
}

.animate-intro:nth-child(3) {
  animation-delay: 1.5s;
}
.animate-intro:nth-child(4) {
  animation-delay: 1.5s;
}

@keyframes title_load {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.intro {
  height: 100vh;
  z-index: 2;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.avatar-img {
  z-index: 10;
  bottom: 0;
  height: auto;
  width: 85%;
  transition: transform 1s ease-in-out;
}

#title-img-container:hover .avatar-img {
  transform: scale(1.1) rotate(-10deg) translateY(-100px);
}

#title-img-container:hover .hidden-text {
  opacity: 1;
}

.hidden-text-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.hidden-text {
  font-size: 50px;
  opacity: 0;
  transition: 1s ease-in-out;
}

.page-heading {
  font-size: 5rem;
  display: inline;
  padding: 10px 0px 10px 0px;
}
.page-subheading {
  z-index: 2;
  width: 75%;

  font-size: 1.2rem;
  line-height: 1.25;
  font-weight: 400;
  color: grey;
}

.page-body {
  font-size: 1rem;
  line-height: 1.3;
  font-weight: 400;
  color: grey;
  margin-left: 30px;
  width: 80%;
}

.page-title {
  font-weight: 800;
  font-size: 8rem;
}

#page-subtitle {
  font-weight: 300;
}

#page-title-name {
  color: var(--green);
}

.tech-skills {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 10px));
  padding-left: 5%;
}

.tech-skills li::before {
  content: "▹    ";
  color: var(--green);
}

.green-body {
  color: var(--green);
  font-weight: 800;
}

.project-grid {
  display: grid;
  width: 75%;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 30px;
  align-items: center;
}

@media (min-width: 1400px) {
  .project-card:nth-child(3n + 2) {
    //grid-row: span 2;
    //flex-direction: column;
  }
}

@media (max-width: 650px) {
  .project-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 800px) {
  .project-card {
    grid-column: unset;
  }
}

@media (max-width: 1500px) and (min-width: 500px) {
  .project-card:nth-child(3n + 1) {
    //grid-column: span 2;
  }
  .project-grid {
    grid-template-columns: 1fr 1fr;
    width: 90%;
  }
}
a @media (max-width: 800px) {
  .project-card:nth-child(3n + 1) {
    grid-column: unset;
  }
}

.project-card {
  position: relative;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  display: grid;
  justify-content: space-between;
  border-color: #6cfffc5e;
  border-width: 2px;
  border-style: solid;
  transition: transform 0.5s ease-in-out;
  background-color: var(--bg-gray);
  grid-template-rows: 175px 1fr;
  min-height:100%;
}

.project-card:hover {
  background-color: var(--gray);
  transform: scale(1.02);
}

.project-image-container {
  position: relative;
}

.project-image {
  object-fit: cover;
  position: relative;
  width: 100%;
  height: 100%;
}

.project-title {
  font-size: 1.5rem;
  font-family: "NTR";
  font-weight: 600;
  line-height: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
.project-links {
  margin-top: -5px;
  display: flex;
  align-items: center;
}
.link-github,
.link-linkedin iconify-icon {
  color: grey;
  margin-right: 5px;
}
.link-website iconify-icon {
  color: grey;
}

.profile-links iconify-icon {
  color: white;
  font-size: 2rem;
}

.links-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.blog-links {
  align-self: center;
  font-size: 1.6rem;
  font-family: "NTR";
  text-decoration: none;
  color: gray;
  margin-right: 20px;
  color: #ec7dff;
  background-color: #191a29;
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 7px 10px 7px 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.blog-links iconify-icon {
  margin-bottom: 5px;
}
.profile-links {
  text-decoration: none;
}

.profile-link-container {
  margin-top: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.project-content p {
  font-size: 0.8rem;
  line-height: 1rem;
  margin-top: 5px;
  font-weight: 100;
  color: #dedfe0;
}

.project-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 20px 10px 0px 20px;
  flex: 1 0 45%;
}

.project-innerbody {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.project-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  place-items: center;
  transition: opacity 1s;
}

@media (min-width: 1000px) {
  .project-grid-container {
    width: 90%;
  }
}
@media (max-width: 1000px) {
  .project-grid-container {
    width: 100%;
  }
  .avatar-img {
    opacity: ;
  }
  .hidden-text-container {
    align-items: center;
  }
}

.project-area {
  margin-top: 2rem;
  display:flex;
  width:200%;
  transition: margin-left 1s;
}

.projects {
.show-left {
    margin-left:-100%;
}
.show-right {
    margin-left:0%;
}
}

.project-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.project-footer iconify-icon {
  margin-top: auto;
  margin-bottom: auto;
  padding: 0 4px 5px;
}
#main-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-tech-stack {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 0.75rem;
}

.project-tech-stack li {
  list-style-type: none;
  color: #ec7dff;
  background-color: #191a29;
  border-width: 1px;
  border-radius: 10px;
  width: fit-content;
  padding: 5px 10px 5px 10px;
  margin-right: 10px;
}

section.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  color: grey;
}

.hidden {
  opacity: 0;
  transform: translateY(-10vh);
  transition: all 1s;
}

.blurred {
  filter: blur(5px);
}

.animate-left {
  transform: translateX(-10vh);
}

.animate-right {
  transform: translateX(10vh);
}

.animate-down {
  transform: translateY(-10vh);
}
.show {
  opacity: 1;
  transform: translateY(0) translateX(0);
  filter: blur(0px);
}

#loading-screen {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 1;
  transition: 1s opacity;
}

#loading-screen.fade-out {
  opacity: 0;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9370db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ba55d3;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ff00ff;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.blog-container {
  margin-top: 10px;
  align-self: center;
}

.blog-button {
  color: var(--green);
  text-decoration: none;
  font-size: 1.1rem;
  background-color: #032b2a;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  margin-right: auto;
  margin-left: auto;
}

.profile-link-container {
}

.profile-links {
}

a {
  text-decoration: none;
}

.next-button,.prev-button {
    fill:white;
    width:100px;
    margin-top:auto;
    margin-bottom:auto;
    transition: opacity 1s;
}
.next-button {
    rotate:180deg;
}

.show-button {
    opacity:1;
}
.hidden-button {
    opacity:0;
}
