:root {
    --bg: #212121;
    --green: #03A19E;
    --white: #ffeded;
    --gray: #32343e;
    --purple: #8418ca;
    --dark-purple: #5c118d
}

body,html{
    height: 100%;
    margin:0;
    cursor:default;
    font-family: 'NTR', sans-serif;
    color: var(--white);
    overflow-x:hidden;
}
*{
    margin:0;
    padding:0;
}
section{
    display:flex;
    width:100vw;
}

.section{
    display:flex;
    flex-direction:column;
    align-self:flex-start;
    width:100%;
}
.projects{

}
.section-header{
    display:flex;
    align-items:center;
}
/* .section-header::after{
    content:"";
    display:block;
    margin-left:10px;
    width:300px;
    height:1px;
    background-color:var(--white)
} */
.section-title{
    font-size: 3rem;
    font-weight:600;
}
.container{
    display:flex;
    width:95%;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    margin-right:auto;
    margin-left:auto;

}

@media (min-width:1200px){
    .container{
        max-width:1000px;
    }
}

@media (min-width:800px) and (max-width:1200px) {
    .container{
        max-width:800px;
    }
}

@media (min-width:1000px){
    .container{
        padding:0 30px 0 30px;
    }
}

@media (max-width:1000px){
    .container{
        padding:0 20px 0 20px;
    }
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    display:block;
    z-index:-1;
}

#titles{
    font-weight: 700;
    line-height:0.9;
    width:55%;
    padding-bottom:1rem;
    display:flex;
    flex-wrap: wrap;
    align-content:center;
}

#title-img-container{
    display:inline;
    width:45%;
}

.console-container{
    width:100%;
    
}

.animate-intro{
    animation: title_load 4s ease-out forwards;
    opacity:0;
}

.animate-intro:nth-child(1){
    animation-delay:1s;
}

.animate-intro:nth-child(2){
    animation-delay:2s;
}

.animate-intro:nth-child(3){
    animation-delay:3s;
}
.animate-intro:nth-child(4){
    animation-delay:3s;
}

@keyframes title_load{
    from { transform: translateY(-50px); opacity:0 }
    to { transform: translateY(0px); opacity:1 }
}

.intro{
    width:100%;
    height:100vh;
    z-index:2;

    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-content:center;
}

.avatar-img{
    z-index: 10;
    bottom: 0;
    height: 30rem;
    width: auto;
}

.page-heading{
    font-size: 6rem;
    display:inline;
}
.page-subheading{
    z-index:2;
    width:75%;

    font-size:1.25rem;
    line-height:1.25;
    font-weight:400;
    color:grey;
}

.page-body{
    font-size:1.1rem;
    line-height:1.3;
    font-weight:400;
    color:grey;
    margin-left:20px;
    width:80%
}

.page-title{
    font-weight:800;
    font-size:8rem;
}

#page-subtitle{
    font-weight:300;
}

#page-title-name{
    color:var(--green)
}

.tech-skills{
    list-style-type:none;
    display:grid;
    grid-template-columns: repeat(2, minmax(150px, 10px));
    padding-left:5%;
}

.tech-skills li::before {
    content: "▹    ";
    color:var(--green);
}

.green-body{
    color:var(--green);
    font-weight:800;
}

.project-grid{
    display:grid;
    width:100%;
    grid-template-columns:2fr 1fr;
    grid-gap:20px;
    align-items:start;
}

@media (min-width: 1400px){
    .project-card:nth-child(3n + 2) {
        grid-row: span 2;
    }
}

@media (max-width: 800px){
    .project-grid{
        grid-template-columns:1fr;
    },
    
}

@media (max-width: 800px){
    .project-card{
        grid-column:unset
    } 
}


@media (max-width:1400px) and (min-width: 800px) {
    .project-card:nth-child(3n+1){
        grid-column:span 2;
    }
    .project-grid{
        grid-template-columns: 1fr 1fr
    }
}
a
@media (max-width: 800px) {
    .project-card:nth-child(3n+1){
        grid-column:unset;
    }
}



.project-card{
    background-color:var(--gray);
    position:relative;
    width:100%;
    border-radius:20px;
    overflow:hidden;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    flex-wrap:wrap;
    
}

.project-image-container{
    position:relative;
    flex: 1 0 max(35%, 250px);
    min-height:250px;
    max-height:250px;
}

.project-image{
    object-fit:cover;
    position:relative;
    width:100%;
    height:100%;
}

.project-title{
    font-size:2rem;
    font-weight:600;
    line-height:1;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-content:center;
}
.project-links{
    margin-top:-5px;
    display:flex;
    align-items:center;
}
.link-github, .link-linkedin iconify-icon{
    color:grey;
    margin-right:5px;
}
.link-website iconify-icon{
    color:grey;
}

.project-content p {
    font-size:1rem;
    line-height:1.5rem;
    margin-top:5px;
    font-weight:200;
}

.project-body{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    gap:10px;
    padding:20px 10px 0px 20px;
    flex:1 0 45%;
}

.project-innerbody{
    display:flex;
    flex-direction:column;
    flex:1;
}

.project-grid-container{
    display:grid;
    grid-template-columns:1fr;
    grid-gap:20px;
}

@media (min-width: 1000px){
    .project-grid-container{
        width:90%;
    }
}
@media (max-width: 1000px){
    .project-grid-container{
        width:100%
    }
}

.project-area{
    display:grid;
    flex:5;
    width:100%;
    margin-top:20px;
}

.project-footer{
    display:flex;
    justify-content:center
}

.project-footer iconify-icon{
    margin-top:auto;
    margin-bottom:auto;
    padding:0 4px 5px;
}

.project-tech-stack{
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin-bottom:5px;
}

.project-tech-stack li{
    list-style-type:none;
    color:#ec7dff;
    background-color:#191a29;
    border-width:1px;
    border-radius:10px;
    width:fit-content;
    padding: 0 10px 0 10px;
    margin-right:10px
}

section.footer{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:100px;
    color:grey;
}

.hidden{
    opacity:0;
    transform: translateY(10vh);
    filter: blur(5px);
    transition: all 2s;
}

.animate-left{
    transform: translateX(-10vh);
}

.animate-right{
    transform: translateX(10vh);
}
.show{
    opacity:1;
    transform: translateY(0) translateX(0);
    filter: blur(0px);
}
